<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campuscamarafp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusCamaraFP">
        <activity android:name=".RegistrarseAlumnos"></activity>
        <activity android:name=".Inicio"></activity>
        <activity android:name=".PerfilAlumno"></activity>
        <activity android:name=".RegistrarseProfesores"></activity>
        <activity android:name=".Repaso"></activity>
        <activity android:name=".PasarLista"></activity>
        <activity android:name=".PerfilProfesor"></activity>
        <activity android:name=".CambiarPasswordProfesores"></activity>
        <activity android:name=".CambiarPasswordAlumnos"></activity>
        <activity android:name=".ayudas.AyudaInicioSesion"
            android:label=""
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"></activity>
        <activity android:name=".ayudas.AyudaImpartir"
            android:label=""
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"></activity>
        <activity android:name=".ayudas.AyudaPasarLista"
            android:label=""
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"></activity>
        <activity android:name=".InicioSesion"></activity>
        <activity android:name=".SplashActivity"
            android:theme="@style/Theme.CampusCamaraFP.NoActionBar"> <!-- Elimina la barra de la aplicación -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>